<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    internalLogLevel="Info"
    internalLogFile=".\Log\internal-nlog.txt">
  
  <!-- 啟用 ASP.NET Core layout renderers -->
  <extensions>
    <add assembly="NLog.Extensions.Logging"/>
  </extensions>
  
  <!-- log 儲存目標 -->
  <targets>
    <!-- 輸出至 Console  -->
    <target name="console" xsi:type="ColoredConsole" 
            layout="${date:format=HH\:mm\:ss} | ${callsite} > ${message}" />
    
    <!-- 儲存為檔案  -->
    <target name="debugger" xsi:type="File" archiveAboveSize="2000000" maxArchiveFiles="30" 
            fileName=".\Log\log-${shortdate}.txt"
            layout="${longdate} | ${event-properties:item=EventId_Id} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=tostring}" />
  </targets>
  
  <!-- 設定 logger 名稱與 log 儲存目標的對應 -->
  <rules>
    <logger name="*" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="debugger" />
  </rules>
</nlog>